@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

@mixin tablet {
  @media (min-width: 1280px) {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}
ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 18px;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk";
  padding: 0;
  margin: 0;
  height: 100%;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  max-width: 375px;
  margin: 0 auto;

  @include tablet {
    max-width: 730px;
    display: flex;
    flex-direction: row;
    min-height: 512px;
    box-shadow: 0px 4px 8px hsl(241, 100%, 89%);
    border-radius: 32px;
  }
}

.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  padding: 30px 60px 40px;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;

  @include tablet {
    flex: 1 1 100%;
    border-radius: 32px;
    padding: 40px 60px 55px;
    justify-content: center;
  }
}

.result__title {
  text-align: center;
  font-weight: 700;
}
.result__value {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.result__value__current {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.result__value__initial {
  text-align: center;
  font-weight: 500;
}
.result__total__quality {
  text-align: center;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.result__total__level {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

.summary {
  padding: 20px;

  @include tablet {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 55px;
    margin-top: 20px;
  }
}

.summary__title {
  font-size: 24px;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.summary__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
}

.summary__item:nth-child(1) {
  color: hsl(0, 100%, 67%);
  background: hsla(0, 100%, 67%, 0.05);
}
.summary__item:nth-child(1) > div:first-child {
  background-image: url("../assets/images/icon-reaction.svg");
}
.summary__item:nth-child(2) {
  color: hsl(39, 100%, 56%);
  background: hsla(39, 100%, 56%, 0.05);
}
.summary__item:nth-child(2) > div:first-child {
  background-image: url("../assets/images/icon-memory.svg");
}
.summary__item:nth-child(3) {
  color: hsl(166, 100%, 37%);
  background: hsla(166, 100%, 37%, 0.05);
}
.summary__item:nth-child(3) > div:first-child {
  background-image: url("../assets/images/icon-verbal.svg");
}
.summary__item:nth-child(4) {
  color: hsl(234, 85%, 45%);
  background: hsla(234, 85%, 45%, 0.05);
}
.summary__item:nth-child(4) > div:first-child {
  background-image: url("../assets/images/icon-visual.svg");
}
.summary__item > div:first-child {
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 32px;
  margin-left: 8px;
}

.item__text {
  font-weight: 500;
}

.text__bold {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.text__thin {
  color: hsl(241, 100%, 89%);
}

.summary__bttn {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  min-height: 2rem;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 30px;
  padding: 16px;
  display: block;
  margin: 30px auto 0 auto;
  color: hsl(241, 100%, 89%);
  background-color: hsl(224, 30%, 27%);
  border: none;
  cursor: pointer;
}

.summary__bttn:hover,
.summary__bttn:focus {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 8px;

  @include tablet {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
