@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}

ul,
li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 18px;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk";
  padding: 0;
  margin: 0;
  height: 100%;
}

@media (min-width: 1280px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: 730px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 512px;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 10px 25px 15px #ebf1ff;
            box-shadow: 2px 10px 25px 15px #ebf1ff;
    border-radius: 32px;
  }
}

.result {
  background: -webkit-gradient(linear, left top, left bottom, from(#7857ff), to(#2e2be9));
  background: linear-gradient(#7857ff, #2e2be9);
  color: #c8c7ff;
  padding: 30px 60px 40px;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
}

@media (min-width: 1280px) {
  .result {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-radius: 32px;
    margin-bottom: 1rem;
    padding: 40px 40px 55px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.result__title {
  text-align: center;
  font-weight: 700;
}

.result__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e21ca), to(rgba(36, 33, 202, 0)));
  background: linear-gradient(#4e21ca, rgba(36, 33, 202, 0));
}

.result__value__current {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
}

.result__value__initial {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.result__total__quality {
  text-align: center;
  font-weight: 800;
  color: white;
}

.result__total__level {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

.summary {
  padding: 1.5rem;
  margin: 0;
}

@media (min-width: 1280px) {
  .summary {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 30px 55px;
    margin-top: 20px;
  }
}

.summary__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #303b5a;
}

.summary__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
}

.summary__item:nth-child(1) {
  color: #ff5757;
  background: rgba(255, 87, 87, 0.05);
}

.summary__item:nth-child(1) > div:first-child {
  background-image: url("../assets/images/icon-reaction.svg");
}

.summary__item:nth-child(2) {
  color: #ffb01f;
  background: rgba(255, 176, 31, 0.05);
}

.summary__item:nth-child(2) > div:first-child {
  background-image: url("../assets/images/icon-memory.svg");
}

.summary__item:nth-child(3) {
  color: #00bd91;
  background: rgba(0, 189, 145, 0.05);
}

.summary__item:nth-child(3) > div:first-child {
  background-image: url("../assets/images/icon-verbal.svg");
}

.summary__item:nth-child(4) {
  color: #1125d4;
  background: rgba(17, 37, 212, 0.05);
}

.summary__item:nth-child(4) > div:first-child {
  background-image: url("../assets/images/icon-visual.svg");
}

.summary__item > div:first-child {
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 32px;
  margin-left: 8px;
}

.item__text {
  font-weight: 500;
}

.text__bold {
  font-weight: 700;
  color: #303b5a;
}

.text__thin {
  color: #c8c7ff;
}

.summary__bttn {
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  border-radius: 30px;
  padding: 1rem 1rem;
  display: block;
  margin: 2rem 0 1rem 0;
  color: #c8c7ff;
  background-color: #303b5a;
  border: none;
  cursor: pointer;
}

.summary__bttn:hover,
.summary__bttn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#7857ff), to(#2e2be9));
  background: linear-gradient(#7857ff, #2e2be9);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 8px;
}

@media (min-width: 1280px) {
  .attribution {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */